<h1 class="flex-1 top-0 md:ml-60 visible md:hidden">
    <div class="p-4 space-y-2 bg-slate-700 rounded shadow" (click)="commonService.isOpen = !commonService.isOpen">
        <span class="block w-8 h-0.5 bg-gray-100 animate-pulse"></span>
        <span class="block w-8 h-0.5 bg-gray-100 animate-pulse"></span>
        <span class="block w-8 h-0.5 bg-gray-100 animate-pulse"></span>
    </div>
</h1>
<div class="flex" *ngIf="commonService.isOpen">
    <aside class="w-60 z-10 fixed left-0 top-0 h-screen bg-slate-700">
        <h1 class="text-white text-4xl mt-1 visible md:invisible">
            <svg (click)="commonService.isOpen = !commonService.isOpen" class="h-5 w-5 text-white ml-52 justify-end top-0 right-0 w-6 h-6" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <line x1="18" y1="6" x2="6" y2="18" />
                <line x1="6" y1="6" x2="18" y2="18" />
            </svg>
        </h1>
        <h1 class="text-white text-4xl mt-1 text-center"><img class="inline w-6 h-6"
                src="assets/icons/algorand-algo.svg" alt="" />{{ 'TITLE.ARGON' | translate }} </h1>
        <div class="text-white text-md mt-5 p-4">
            <p (click)="onChangeRoute()" class="mt-2" *ngFor="let item of menu" [routerLink]="item?.routerLink">
                <img class="inline w-6 h-6 mr-2" [src]="item?.src" alt="" />{{ item?.title || '-' | translate }}
            </p>
        </div>
    </aside>
</div>