<div class="flex flex-wrap gap-5 xl:p-7">
    <div class="p-3 xl:ml-2 w-full xl:w-3/5 lg:w-8/12 bg-gray-100 border-2 border-gray-300 rounded-md">
        <app-line-chart class="h-60"></app-line-chart>
    </div>
    <div class="xl:w-1/3 xl:ml-8 lg:w-56 md:w-60 w-full p-3 bg-gray-100 border-2 border-gray-300 rounded-md">
        <app-bar-chart></app-bar-chart>
    </div>
    <div
        class="w-full xl:ml-2 md:order-4 xl:w-3/5 lg:order-3 lg:w-8/12 p-3 bg-gray-100 border-2 border-gray-300 rounded-md">
        <app-page-visites-table></app-page-visites-table>
    </div>
    <div
        class="xl:w-1/3 xl:ml-8 lg:w-56 md:order-3 lg:order-3 md:w-60 w-full p-3 bg-gray-100 border-2 border-gray-300 rounded-md">
        <app-social-traffic-table> </app-social-traffic-table>    
    </div>
</div>